.gallery {
    width: auto;
    height: 1000px;
    padding-left: 124px;
}

.gallery img {
    width: 263px;
    height: 175px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.gallery h2 {
    color: #216245;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    margin: 100px 50px 40px 50px;
    text-align: center;
    position: relative;
    left: -50px;
}