@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    gap: 10px;
    width: auto;
    padding: 5px;
    color: white;
    background-color: #216245;
    border: 2px solid #fff;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.btn:hover {
    background-color: #357559;
}

.btn-icon {
    width: 18px;
    height: 18px;
}