@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

.slider {
    position: relative;
    height: 70vh;
    width: 100%;
    background-color: #9BC5B7;
    overflow: hidden;
    z-index: 1;
}

.navigation {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: .8;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 800%;
    height: 100%;
    display: flex;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -14.3%;
}

#r3:checked ~ .s1 {
    margin-left: -33.3333%;
}

#r4:checked ~ .s1 {
    margin-left: -60%;
}

#r5:checked ~ .s1 {
    margin-left: -100%;
}

#r6:checked ~ .s1 {
    margin-left: -125%;
}

#r7:checked ~ .s1 {
    margin-left: -150%;
}

#r8:checked ~ .s1 {
    margin-left: -175%;
}